<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_cart_collect_items_and_amounts">
        <observer name="RadWorks_ShipStation::add_total_custom_item_to_cart"
                  instance="RadWorks\ShipStation\Observer\Frontend\AddTotalCustomItemToCart"/>
    </event>
</config>
